@tailwind base;
@tailwind components;
@tailwind utilities;
blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}
img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
  vertical-align: middle;
}
img,
video {
  max-width: 100%;
  height: auto;
}
*,
::before,
::after {
  border-width: 0;
  border-style: solid;
  border-color: theme("borderColor.DEFAULT", currentColor);
}

body {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: inherit;
}

.chat {
  overflow-y: auto;
}
/* width */
.chat::-webkit-scrollbar {
  width: 12px;
}

/* Track */
.chat::-webkit-scrollbar-track {
  background: #848484;
  border-radius: 5px;
}

/* Handle */
.chat::-webkit-scrollbar-thumb {
  background: #161616;
  border-radius: 5px;
}

/* Handle on hover */
.chat::-webkit-scrollbar-thumb:hover {
  background: #555;
}



:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
