@tailwind base;
@tailwind components;
@tailwind utilities;

.chat {
  overflow-y: auto;
}
/* width */
.chat::-webkit-scrollbar {
  width: 12px;
}

/* Track */
.chat::-webkit-scrollbar-track {
  background: #848484;
  border-radius: 5px;
}

/* Handle */
.chat::-webkit-scrollbar-thumb {
  background: #161616;
  border-radius: 5px;
}

/* Handle on hover */
.chat::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.chat-bubble {
  overflow: auto;
}

/* width */
.chat-bubble::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

/* Track */
.chat-bubble::-webkit-scrollbar-track {
  background: #848484;
  border-radius: 5px;
}

/* Handle */
.chat-bubble::-webkit-scrollbar-thumb {
  background: #161616;
  border-radius: 5px;
}

/* Handle on hover */
.chat-bubble::-webkit-scrollbar-thumb:hover {
  background: #555;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
}
